/.vs
/PRT.sln
/Debug
/.gitignore
/PRT/PRT.vcxproj
/PRT/PRT.vcxproj.filters
/PRT/PRT.vcxproj.user
/PRT/Debug
/PRT/Release
/PRT/resource.h
/PRT/PRT.APS
/PRT/PRT.rc
/PRT/dr128.ico
/PRT/ico
/PRT/PRT.qrc
/PLCControl
/Dongle
/x64
/PRT/x64
/PLCControl/QtPLCLibrary/DataCurve.cpp
/PLCControl/QtPLCLibrary/DataCurve.h
/PLCControl/QtPLCLibrary/DataCurve.ui
/PLCControl/QtPLCLibrary/QtSocket_Class.cpp
/PLCControl/QtPLCLibrary/QtSocket_Class.h
/PLCControl/comm.h
/PLCControl/QtPLCDialogClass.h
/PLCControl/QtPLCDialogClass.cpp
/PLCControl/QtPLCDialogClass.ui
/Release
/操作步骤.pdf
/操作步骤.docx
