QWidget
{
/*border:3px outset grey;
border-radius:15px;*/
}
QPushButton
{
border:0px groove steelblue;
/*border-radius:15px;*/
}
QPushButton::checked
{
Padding-left:3px;
Padding-top:3px;
}
QComboBox
{
border:3px groove white;
background-color:transparent;
}

QComboBox::drop-down
{
border-style:solid;
margin-right:15px;
}
QComboBox::down-arrow
{
image:url(./ico/xiangxia.png);
}
QComboBox::down-arrow:on
{
padding-top:3px;
}
QLineEdit
{
border:3px groove white;
background-color:transparent;
}
QLabel
{
border:0px;
}